/* 
    Created on : Apr 26, 2017, 1:28:23 PM
    Author     : Nicolai, Patrick, Kasper, Casper
*/

.backgroundGreen {
    -fx-background-color: rgb(47,192,47);
}

.buttonGreen {
    -fx-background-color: rgb(108,249,108);
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: red;
}
.table-view .table-cell{
    /*-fx-font-weight:bold;*/
    -fx-font-size:14px;          
    -fx-text-fill: black; 
}